web-sockets-demo/src/main/mule/web-sockets.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 

	xmlns:java="http://www.mulesoft.org/schema/mule/java" 
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:websocket="http://www.mulesoft.org/schema/mule/websocket"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http 
		http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/websocket 
		http://www.mulesoft.org/schema/mule/websocket/current/mule-websocket.xsd
		http://www.mulesoft.org/schema/mule/scripting 
		http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd"
>

	<sub-flow name="broadcastMessage" doc:id="e2ba098e-6697-4465-a853-4e1fa3eab127" >
		<websocket:broadcast doc:name="Broadcast" doc:id="f3dbcd77-a6ca-482d-8c7e-3cc2d2704d66" config-ref="WebSockets_Config" path="/log">
			<websocket:content><![CDATA[#[output text/plain --- payload]]]></websocket:content>
		</websocket:broadcast>
	</sub-flow>
	<flow name="on-new-connection" doc:id="74cf9a7e-e0af-4f13-a301-062a51e39690" >
		<websocket:on-inbound-connection doc:name="On New Inbound Connection" doc:id="bfa78e1d-abae-491f-aa21-5dbf5100fc99" config-ref="WebSockets_Config" path="/log"/>
		<logger level="INFO" doc:name="Logger" doc:id="c6c428e1-0643-4a44-bdcf-1d8ab257214d" message='#["New Web Socket " ++ attributes.socketId]' />
	</flow>
	<flow name="on-new-message" doc:id="60c0c776-0055-4845-8224-1fb52e5b9343" >
		<websocket:inbound-listener doc:name="On New Inbound Message" doc:id="b79a69ab-08b3-4a57-9839-5e34b7cef638" config-ref="WebSockets_Config" path="/log"/>
		<logger level="INFO" doc:name="Logger" doc:id="0edac114-0a4d-4de6-9e99-754ea7a3786a" message='#[output text/plain --- "Web Socket " ++ attributes.socketId ++ " message: " ++ payload]' />
		<set-payload value="#[round(random() * 100)]" doc:name="Set Payload" doc:id="fa68dcdf-3960-485f-8a7b-4c3a1e3c8300" />
		<flow-ref doc:name="broadcastMessage" doc:id="cc416afe-8c7f-4fa8-a8fc-199927d5db91" name="broadcastMessage" />
	</flow>
	<flow name="on-connection-closed" doc:id="f893b2d6-e1af-4ec7-968a-5a2a5656fcaf" >
		<websocket:on-socket-closed doc:name="On Socket Closed" doc:id="7a62ebbe-eb56-453c-bb4a-1ff755ca8134" config-ref="WebSockets_Config" path="/log"/>
		<logger level="INFO" doc:name="Logger" doc:id="ee4442a0-88a7-4eb8-a007-6d75f7e63887" message='#["Web Socket " ++ attributes.socketId ++ " closed"]'/>
	</flow>

</mule>
